<div class="container mt-5">
  <div class="row">
    <div class='mx-auto text-center'>
      <h2 class="mb-4">ようこそ！！<br>Gathering of Adventurers</h2>
      <p>ここはオンラインゲームのフレンドを募集する場所になります。<br>ルールやマナーを守り、このサイトをご活用ください。</p>
      <div class="btn-wrapper col-10 mx-auto">
         <div>
          <%= link_to 'ログイン',home_about_path, class: "btn btn-primary btn-sm btn-block mt-5" %>
        </div>
      </div>
    </div>
  </div>
</div>


























































